th,
td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: crimson;
  color: azure;
  border-right: 2px solid rgb(228, 220, 220);
}

td {
  text-align: left;
  border-right: 2px solid rgb(228, 220, 220);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

.wider {
  word-wrap: break-word;
  max-width: 170px;
}

#title{
  margin-top: 20px;
}
.table-wrapper {
  text-align: center;
}

/* BUTTON MENU */

.menu-option input {
  padding: 12px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
}

.menu-option input:hover {
  opacity: 1;
}


.btn {
  padding: 12px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: gainsboro;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.