* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgb(112, 8, 34);
  width: 100%;
  height: 70px;
}
.header-left {
  float: left;
  padding: 0 25px;
  line-height: 70px;
}

.header-left a {
  color: azure;
  text-decoration: none;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 70px;
  display: block;
  float: left;
  text-decoration: none;
  height: 100%;
  color: aliceblue;
  padding: 0 25px;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: aliceblue;
  color: rgb(112, 8, 34);
}

.header-right a:last-child {
  margin: 0 10px;
}
