.main {
  text-align: center;
  padding: 50px;
  padding-top: 10px;
  background-color: bisque;
  height: 500px;
}

.tanggal {
  margin-bottom: 20px;
}
.tanggal h2 {
  margin-top: 10px;
}

.antrian {
  font-size: 3vh;
}

.antrian button {
  margin-top: 15px;
  height: 150px;
  width: 150px;
  background-color: salmon;
  font-size: large;
  border: none;
  color: rgb(22, 31, 31);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
}

.antrian button:hover {
  background-color: rgb(223, 113, 101);
}

#clock {
  font-size: 70px;
  font-weight: 700;
}

.noantrian {
  width: 50%;
  height: 50%;
  float: right;
}

.noantrian span {
  font-size: 100px;
  font-weight: 400;
}
